<div class="modal fade" id="DarkNoShadowModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content modal-no-shadow">
	  <div class="modal-header bg-dark no-border">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{title}}</h4>
	  </div>
	  <div class="modal-body">
		{{body}}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
	  </div><!-- /.modal-footer -->
	</div><!-- /.modal-content .modal-no-shadow -->
  </div><!-- /.modal-dialog -->
</div><!-- /#DarkNoShadowModal -->