
  <div v-show="isNewGroup" class="the-box text-center thegroup" style="background-color: {{header_color}}" v-on="click: onGroupClicked($event)">
    <h4 class="light" >{{group}}</h4>
    <i class="fa {{shevrone}} group-shevron"></i>
    <div class="group-books-count">{{books_count}}</div>
  </div>

  <div class="the-box thecard" v-show="visible">
    <!-- <div class="card-img">
      <img style="height: 125px" src="http://doonnn.com/wp-content/uploads/2015/07/yosemite_500.jpg">
    </div> -->
    <!-- <div class="card-header" style="background-color: {{header_color}}"></div> -->
    <div class = "date-caps" style="margin-top: 5px;">{{group}}</div>    

    <div class="card-caption">
      <i v-show="hasUpdates" style="cursor: pointer;" class="like-btn fa fa-star" v-on="click: onToggleUpdates($event)" data-toggle="tooltip" title="Обновленный текст" data-placement="left"></i>
      <span class="date">{{updateDetectedAtFormated}}</span>
      <h1>{{title}}</h1>
      <p class="annotation">{{annotation}}</p>
    </div>
    <div class = "date-caps-inline badge" data-toggle="tooltip" title="Текущий размер" data-placement="top">{{size}}</div>    
    <div class = "date-caps-inline badge" style=" margin-left: 0px; background-color: #DFE4EA; color: white" v-show="prevSizeVisible" data-toggle="tooltip" title="Старый размер" data-placement="right">{{prevSize}}</div>    
    <hr style="margin-top: 10px; margin-bottom: 10px">
    <a class="btn btn-success btn-xs" style="margin-left: 20px;" v-on="click: onClick($event)">Читать</a>
    
    <a class="comments-info" style="margin-left: 20px; cursor: pointer;" v-show="commentsDescription" data-toggle="tooltip" title="Комментарии с сайта-оригинала" data-placement="top" v-on="click: onCommentsClick"><i class="fa fa-comment-o" style="margin-right: 5px"></i>{{commentsDescription}}</a>

    <span class="comments-info pull-right" style="margin-right: 20px; margin-top: 4px" v-show="rating" data-toggle="tooltip" title="Оценки" data-placement="top" ><i class="fa fa-star-half-empty" style="margin-right: 5px"></i>{{rating}}</span>

    <div class="card-side" style="background-color: {{header_color}}"></div>

  </div>
