.comment-number{
	text-align: center;
    font-size: 20px;
    border: 1px solid #E8E5E5;
    padding: 15px 0px;
    margin-top: -24px;
    border-radius: 5px;
    color: #E8E5E5;
    width: 55px;
}