.books-list{
	position: absolute;
	height: 100%;
	width: 100%;
	top: -4px;
	left: 300px;
	bottom: 0;
	background: #f0f1f2;
	z-index: 10;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.view-type-select{
	position: fixed;
    right: 0;
    top: 80px;
    width: 250px;
    border: 0px;
    background-color: transparent;
    text-align: right;
    color: #ACB5BE;
}
.view-type-select:focus{
	border: 0px;
	border-color: transparent;
}

#scroller-wrapper {
	position: absolute;
	z-index: 1;
	top: 67px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: #F9F8F6;
}

#booksScrollerDiv {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*min-width: 10000px;*/
	height: 100%;
	background-color: #F9F8F6;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.book-item-width2,
.book-item { 
	width: 400px; 
	background-color: #fff;
	padding: 20px;
	margin-bottom: 5px!important;
	position: absolute;
}
.book-item-width2 { 
	width: 800px; 
}

.mason:after {
  content: '';
  display: block;
  clear: both;
}
