<div class="books-list tooltips" v-show="ready">	
	<h1 class="page-heading"  style="margin-left: 10px;" >
		<img src="{{image}}" class="ava-sidebar img-circle" alt="Avatar" style="width: 50px; height: 50px; margin-top: -32px;">		
		<div style="display: inline-block; margin-top: -5px; margin-left: 10px;">
			<div>{{author.name}}</div>
			<small>Последнее обновление: <b>{{updateDetectedAt_calendar}}</b></small>
		</div>
		<select class="form-control view-type-select" tabindex="0" v-on="change: onViewTypeChanged($event)">
			<option value = "unread">Непрочитанные обновления</option>
			<option value = "all">Все книги</option>
		</select>
	</h1>
	<div id="scroller-wrapper">
		<div id="booksScrollerDiv">		
				<book v-repeat="books"></book>			
		</div>
	</div>
	<fastcomments></fastcomments>
</div>