#ascroller-wrapper {
	position: absolute;
	z-index: 1;
	top: 56px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
	/*background-color: #F9F8F6;*/
	/*margin-top: -10px;*/
}

#authorsScrollerDiv {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*min-width: 10000px;*/
	/*height: 100%;*/
	width:	100%;
	/*background-color: #F9F8F6;*/
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.btn-collapse-authors-left{
	width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 17px 0;
    display: inline-block;
    color: whitesmoke; /*#656D78;*/
}
.btn-authors-plus{
	width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 17px 0;
    display: inline-block;
    color: whitesmoke; /*#656D78;*/
    right: 0;
    position: absolute;
}
.authors-left{
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background: #313940;
	color: #373737;
	z-index: 10;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.authors-left-white{
	/*overflow-y: auto;
	overflow-x: hidden;*/
	position: absolute;
	height: 100%;
	top: -3px;
	left: 0;
	bottom: 0;
	background: white;
	color: #FFFFFF;
	z-index: 10;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
	border-right: 1px solid #DEE6DE;
	/*box-shadow: 0 0px 2px rgba(0,0,0,.4); */
	box-shadow: 0 3px 20px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

/**
-------------------------------------------
SIDEBAR
-------------------------------------------
**/
ul.authors-list-white li.static.left-profile-summary{
	min-height: 20px;
	height: auto;
	padding: 29px 15px 0px 15px;
}
ul.authors-list-white li.text-content.profile-summary{
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
ul.authors-list-white{
	padding: 0;
	margin: 0 0 30px 0;
	list-style:none;
}
ul.authors-list-white li.static{
	display: block;
	color: #797E89;
	height: 60px;
	padding: 29px 15px 15px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}
ul.authors-list-white li.text-content{
	display: block;
	color: #4C4C4C;
	height: 40px;
	padding: 12px 60px 12px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}
ul.authors-list-white li.text-content .switch{
	position: absolute;
	right: 15px;
	top: 10px;
}
ul.authors-list-white li{
	display: block;
	color: #373737;
}

ul.authors-list-white li a{
	display: block;
	color: #373737;
	/*height: 45px;*/
	padding: 12px 20px 12px 50px;
	border-bottom: 1px solid #EBEBEB; /*2C3439;*/
	text-decoration: none;
	line-height: 120%;
	position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white li a .icon-sidebar{
	width: 45px;
	height: 45px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	padding: 15px 0;
}
ul.authors-list-white li a .span-sidebar{
	position: absolute;
	right: 30px;
	top: 13px;
}
ul.authors-list-white li a .chevron-icon-sidebar{
	position: absolute;
	right: 15px;
	top: 14px;
	color: #656D78;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}
ul.authors-list-white li.active a .chevron-icon-sidebar{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
ul.authors-list-white li a:hover{
	color: #263344;
	border-bottom: 1px solid #EBEBEB; /*2C3439;*/

}
ul.authors-list-white li a:focus{
	color: #263344;
	border-bottom: 1px solid #EBEBEB; /*2C3439;*/
	background-color: #C3DAF7;
}

ul.authors-list-white li.selected a,
ul.authors-list-white li.selected a:hover,
ul.authors-list-white li.selected a:focus,
ul.authors-list-white li.active a,
ul.authors-list-white li.active,
ul.authors-list-white li.active a:hover,
ul.authors-list-white li.active a:focus{
	color: #263344;
	background-color: #C3DAF7;
	border-bottom: 1px solid #EBEBEB; /*2C3439;*/
}

ul.authors-list-white li ul.submenu{
	background: #2C3439;
	padding: 0 0 0 50px;
	margin: 0;
	list-style: none;
	display: none;
}
ul.authors-list-white li ul.submenu.visible{
	display: block;
}
ul.authors-list-white li ul.submenu li{
	display: block;
}
ul.authors-list-white li ul.submenu li a{
	display: block;
	color: #79818B;
	height: 35px;
	padding: 10px 15px 10px 0;
	border-bottom: none;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
	border-left: 1px solid #656D78;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white li ul.submenu li a .span-sidebar{
	position: absolute;
	right: 15px;
	top: 10px;
}
ul.authors-list-white li ul.submenu li a:hover,
ul.authors-list-white li ul.submenu li a:focus{
	color: #263344;
}
ul.authors-list-white li ul.submenu li.selected a,
ul.authors-list-white li ul.submenu li.selected a:hover,
ul.authors-list-white li ul.submenu li.selected a:focus,
ul.authors-list-white li ul.submenu li.active a,
ul.authors-list-white li ul.submenu li.active a:hover,
ul.authors-list-white li ul.submenu li.active a:focus{
	color: #263344;
	background-color: #2C3439;
}

ul.authors-list-white li ul.submenu li a:before{
	content: "\2014\00a0";
	margin-left: -1px;
	color: #79818B;
}
ul.authors-list-white.online-user li a{
	padding: 10px 20px 10px 60px;
	height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white.online-user li a .small-caps{
	font-size: 11px;
	color: #656D78;
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white.online-user li a .ava-sidebar{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin:10px;
	z-index: 1;
}
ul.authors-list-white.online-user li a .user-status{
	width: 13px;
	height: 13px;
	position: absolute;
	z-index: 2;
	background: #F5F7FA;
	left: 35px;
	top: 7px;
	border-radius: 50%;
	border: 2px solid #313940;
}

ul.authors-list-white.online-user li a .device-status{
	position: absolute;
	right: 15px;
	top: 20px;
	color: #656D78;
	font-size: 14px;
}
ul.authors-list-white.online-user li a .user-status.success	{background: #8CC152;}
ul.authors-list-white.online-user li a .user-status.danger	{background: #E9573F;}
ul.authors-list-white.online-user li a .user-status.warning	{background: #F6BB42;}
ul.authors-list-white.online-user li a .user-status.info		{background: #3BAFDA;}
ul.authors-list-white.online-user li a .user-status.primary	{background: #37BC9B;}
ul.authors-list-white.sidebar-notification{
	margin-bottom: 30px;
}
ul.authors-list-white.sidebar-notification li a{
	padding: 10px 20px 10px 60px;
	height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: 700;
}
ul.authors-list-white.sidebar-notification li a .activity{
	font-size: 13px;
	color: #373737;
	font-weight: 400;
}
ul.authors-list-white.sidebar-notification li a .small-caps{
	font-size: 11px;
	color: #656D78;
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: 400;
}
ul.authors-list-white.sidebar-notification li a .ava-sidebar{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin:10px;
	z-index: 1;
}
ul.authors-list-white.sidebar-task{
	margin-bottom: 30px;
}
ul.authors-list-white.sidebar-task li a{
	padding: 10px 20px 10px 60px;
	height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white.sidebar-task li a .small-caps{
	font-size: 11px;
	color: #656D78;
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.authors-list-white.sidebar-task li a .icon-task-sidebar{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin:10px;
	z-index: 1;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	padding: 7px 0;
}
ul.authors-list-white.sidebar-task li a .icon-task-sidebar.completed		{background: #8CC152}
ul.authors-list-white.sidebar-task li a .icon-task-sidebar.uncompleted	{background: #E9573F}
ul.authors-list-white.sidebar-task li a .icon-task-sidebar.progress		{background: #F6BB42}

/*.left-profile-summary h4{
	color: #fff;
	padding: 0;
	margin: 0 0 5px;
	line-height: 120%;
}*/