<div class="authors-list authors-left-white tooltips">
	   		<div class="static" style="display: inline-block;  color: whitesmoke; width: 100%; background-color: #656D78; margin-top: -4px;">
				<div class="btn-collapse-authors-left" v-on="click: toggleAuthorsList" >
	               	<i class="fa fa-bars"></i>
           		</div>
           		<div class="authors-list-title" style="display: inline-block">
					АВТОРЫ
				</div>
				<div class="btn-authors-plus" v-on="click: addAuthor" data-toggle="tooltip" title="Добавить автора" data-placement="right">
	               	<i class="fa fa-plus"></i>
           		</div>
			</div> 
  	<div id="ascroller-wrapper">
		<div id="authorsScrollerDiv">	
			<div class="tab-content">
				  <div class="tab-pane fade in active" id="online-user-sidebar">
							<ul class="authors-list-white online-user"> <!-- sidebar-menu -->				
								<author v-repeat="authors"></author>
							</ul>
				  </div>
			</div><!-- /.tab-content -->
		</div>
	</div>
</div>