.fast-comments{
	position: fixed;
	/*height: 100%;*/
	/*width: 100%;*/
	top: 65px;
	/*left: 300px;*/
	bottom: 0;
	background: #f0f1f2;
	z-index: 100;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
	box-shadow: 0 3px 20px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
/*	overflow-y: auto;
	overflow-x: hidden;*/
}

.btn-comments-close{
	width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 17px 0;
    display: inline-block;
    color: #656D78;
    right: 0;
    top: 0;
    position: absolute;
}

.btn-comments-togle-expand{
    width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 17px 0;
    display: inline-block;
    color: #656D78;
    right: 50px;
    top: 0;
    position: absolute;
}
.btn-comments-refresh{
	width: 50px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    padding: 17px 0;
    display: inline-block;
    color: #656D78;
    right: 100px;
    top: 0;
    position: absolute;
}