<li class="{{Selected}}" ><a href="#" v-on="click: selected">
	<span v-show="show_status" class="user-status {{update_status}}"></span>
	<img src="{{image}}" class="ava-sidebar img-circle" alt="Avatar"  title="{{name}}" data-placement="right">
	<!-- data-toggle="tooltip" -->

	

	<!-- <i class="fa fa-mobile-phone device-status"></i> -->
	{{name}}
	<!-- <span class="small-caps">{{updateDetectedAt_moment}}</span>	 -->
	<span class="small-caps">{{updateDetectedAtFormated}}
		<span>|</span>
		{{checkUpdatesAtFormated}}
	</span>	

 	<button id="author-action-button-{{id}}" type="button" style="position: absolute; right: 0; top: 0" class="btn btn-default btn-xs author-action-button">
		<i class="fa fa-cog"></i>
	</button>


</a></li>